<%- include('partials/header') -%> 

<h1>Home</h1>


<p> <%= homesrtcon %> </p>


<%  postArr.forEach(function(post){  %>
        <h1> <%= post.title %> </h1>
        <p>  <%= post.post.substring(0,100) + "..."  %> <a href="post/<%= post.title %>">Read More</a></p> 
        
<%   });  %>


<%- include('partials/footer') -%> 